body {
    background: linear-gradient(230.65deg, #68b1a7 27.49%, #8ac9c6 83.19%);
}

body::-webkit-scrollbar{
    width: 10px;
    background: #68b1a7;
} 
body::-webkit-scrollbar-thumb{
    background: linear-gradient(236.85deg, #9be5d5 27.26%, #b2e1f7 96.03%);
    border-radius: 50px;
}

h1{
    text-align: center;
    font-size: 50px;
    font-family: 'Roboto', sans-serif;
    color: aliceblue;
}

form{
    background: linear-gradient(230.65deg, #68b1a7 27.49%, #8ac9c6 83.19%);
    width: 500px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px;
    left: 50%;
    transform: translate(-50%);
    border-radius: 30px;
    margin-bottom: 42px;
    box-shadow: 0px 4px 8px 4px rgba(0, 0, 0, 0.473);
    position: relative;
}

#d1,#d2{
    text-align: center;
}

#d2{
    margin-left: 24px;
}
#img1{
    width: 100px;
    height: 100px;
    margin-bottom: 50px;
}

input, button{
    display: block;
}

label{
    margin-bottom: 30px;
}

input{
    padding: 10px;
    margin-bottom: 10px;
    font-size: 20px;
    border-radius: 50px;
    border: none;
}

#login{
    margin-bottom: 30px;
}

p{
    color: aliceblue;
}

a{
    text-decoration: none;
    color: #007e77;
    transition: 400ms;
}
a:hover{
    font-size: 25px;
}

#bu{
    margin-left: 150px;
    margin-top: 50px;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 700;
    padding: 7px;
    border-radius: 50px;
    border: 3px solid rgb(118, 192, 167);
    width: 200px;
}